cp.kaist.ac.kr {
    ext .html   # Clean URLs
    errors error.log {       # Error log
        404 404.html   # Custom error page
    }

    proxy / kaist-cp.github.io {
        except /mm /breaking-bad
        transparent
    }

    proxy /mm localhost:8000 {
        transparent
        websocket
    }

    browse /breaking-bad
}
